footer {
  background-image: url("../images/texture-bg.gif");
  @include themefont;
  margin-top: -4rem;
  z-index: 1;
  position: relative;
  padding-top: 6rem;
  padding-bottom: 1rem;

  h4 {
    color: $green;
  }
  .facebook {
    span:first-child {
      color: $primary;
    }
  }
  .twitter {
    span:first-child {
      color: $info;
    }
  }
  .rss {
    span:first-child {
      color: $orange;
    }
  }
}
