footer {
  @include themefont;
  margin-top: -4rem;
  z-index: 1;
  position: relative;
  padding-top: 6rem;
  padding-bottom: 1rem;

  address {
    abbr[title],
    abbr {
      cursor: inherit;
      color: $gray-600;
      text-decoration: none;
    }
    a {
      color: $gray-600;
      text-decoration: none;
      &:hover {
        color: white;
        text-decoration: none;
        transition: color 300ms 0s ease;
      }
    } // Close a
  } // Close address

  .social-links {
    a,
    a.text-light {
      color: $white;
      text-decoration: none;
      &:hover,
      &:focus {
        color: $red !important;

      }
    }
  }

  h3 {
    color: $green;

  }
  ul.navbar,
  ul.menu {
    list-style-type: none;
    padding: 0;

    li {
      a {
        color: $white;
        text-decoration: none;
        &:hover,
        &:focus {
          color: $red;

        }
      }
    } // li end

  } // ul.navbar end




  .facebook {
    span:first-child {
      color: $primary;
    }
  }
  .twitter {
    span:first-child {
      color: $info;
    }
  }
  .rss {
    span:first-child {
      color: $orange;
    }
  }
  .developers-link {
    text-decoration: none;
    color: $green;
    &:hover {
      color: darken($white, 10%);
    }
  } //.developers-link
}
