html {
  font-size: 13px;
  @include media-breakpoint-up(md) {
    font-size: 15px;
  }
  @include media-breakpoint-up(lg) {
  font-size: 17px;
  }
}

body {
  background: url("../images/bg2K.jpg");
  background-repeat: no-repeat;
  background-color: #f3f3f3;
  background-size: contain;
  @include themefont;

 }




#mainWraaper .container {
  position: relative;
  z-index: 9;
  background-color: white;
  overflow: hidden;
  @include border-radii(0px, 0px, 8px, 8px);
}
.bg-dark,
footer,
#mainMenu {
  background-image: url("../images/debut_dark.png") !important;
}
a {
  &:hover {
    transition: color 300ms 0s ease;
  }
}

// #wpadminbar {
//   ul {
//     display: inherit;
//   }
// }
