

body {
  background-image: url("../images/bg2K.jpg");
  background-repeat: no-repeat;
  background-color: #f3f3f3;
  @include themefont;

}
#mainWraaper .container {
  position: relative;
  z-index: 9;
  background-color: white;
  overflow: hidden;
  @include border-radii(0px, 0px, 8px, 8px);
}
.bg-dark,
footer,
#mainMenu {
  background-image: url("../images/texture-bg.gif") !important;
}

// #wpadminbar {
//   ul {
//     display: inherit;
//   }
// }
