body {
  background-image: url("../images/bg2G.jpg");
  background-repeat: no-repeat;
  background-color: #c1c1c1;
  @include themefont;

  ul {
    @extend .nav;
    li {
      @extend .nav-item;
      a {
        @extend .nav-link;
        transition: color 300ms 0s ease;

      }
    }
  }
}
#mainWraaper .container {
  position: relative;
  z-index: 9;
  background-color: white;
  overflow: hidden;
  @include border-radii(0px, 0px, 8px, 8px);
}

#wpadminbar {
  ul {
    display: inherit;
  }
}
