#site-logo {
  max-width: 180px;
  margin: 0;
  @include media-breakpoint-up(md) {
    max-width: 240px;
    margin-bottom: -20px; // Should be changed
    margin-top: -25px; // Should be changed
   }

}

#topMenu {

  div {

    @extend .pr-1;
    ul { // Bootstrap ul standart integrate to wp menu
      @extend .nav;
      li {
        @extend .nav-item;
        a {
          @extend .nav-link;
          font-size: 1rem;
          padding: 0rem 0.4rem;
        }
        &:first-child a { // Align firts elentf #topMenu to left corner #mainWraaper container
          padding-left: 0;
        }
      }
    }
    ul#topMenu-id {
      a {
        color: $white !important;
        }
      a:hover,
      a:active,
      li.active a {

        color: $green !important;

        }
    }
  }

} // #topMenu End

#accountLog {
  div.row  {
    @include themefont;
    background: rgba(white, 0.8);
    @extend .pl-5;
    @extend .p-2;
    @include border-radius(0rem 0rem 1rem 1rem);

    ul { // Bootstrap ul standart integrate to wp menu
      @extend .nav;
      li {
        @extend .nav-item;
        a {
          @extend .nav-link;


        }
      }
    }

    li {
      @extend .btn;
      @extend .p-0;
      @extend .ml-2;
      @include themefont;
      a {
        padding: 0.3rem;
      }
    }
    li:first-child {
      @extend .btn-danger;
      a {
        color: $light;
      }
    }

    li:last-child {
      a {
        color: $dark;
      }
    }
  }
} // #accountLog End

#searchBar {
  @include themefont;

    form {
      @extend .input-group;

      input.search-field {
        @extend .form-control;
        @include border-radii(8px, 0, 0, 0);
        @include themefont;
      }

      input[type="submit"] {
        @include themefont;
        @extend .input-group-addon;
      }
    }

  #cart {




    position: relative;
    @extend .pl-0;

      &::after{
         content: '';
         display: inline-block;
         width: 15px;
         height: 15px;
         position: absolute;
         background-color: $success;
         right: 0;
      }
      button {
        @include border-radius(0px 8px 0px 0px);
        @include themefont;
      }

  } // #cart
} // #searchBar


#mainMenu {
  @include border-radii(8px, 8px, 0, 0);

li {

    a {
      @include themefont;
      font-style: normal;
      @extend .text-white;
      text-transform: uppercase;
      font-size: 1.1rem;

      }

      a:hover,
      a:active,
      &.active a {
      color: $green !important;

      }

      ul.dropdown-menu {
        background-color: $dark;
        li {

        }
      }
    }








}
