// Front page Slider with Bootstrap Carusel
#carouselFront {


  .carousel-inner {


    .carousel-item {

      
      min-height: 13rem;
        
        img {
          object-fit: cover;
          -o-object-fit: cover;
          min-height: 300px;
        }
        @include media-breakpoint-up(lg) { 
          max-height: 429px;
            img {
              max-height: 429px;
            }
        }
    } // Close .carousel-item 

  } // Close .carousel-inner

  

} // Close #carouselFront
