// Front page Slider with Bootstrap Carusel
#carouselFront {


  .carousel-inner {

    .carousel-item {
      max-height: 429px;

      img {
        object-fit: cover;
        -o-object-fit: cover;
        max-height: 429px;




      }
    }
    }



}
