#pageRowSideBar,
#shopRowSideBar {
  @include media-breakpoint-down(md) {
    margin-left: 1rem;
    //@extend .pt-3;
  }

  //@extend .px-3;
  //@extend .pt-2;
  .widget {
    h3 {
      font-size: 1.5rem;

      &:hover {
        color: darken($red, 10%);
        transition: color 300ms 0s ease-in-out;
        cursor: pointer;
      }
    } // h3 End
    ul {
      @extend .list-group;
      list-style-type: none;
      li {
        a {
          text-decoration: none;
          color: $sidebar-li-color;
          font-size: 1rem;

          &:hover {
            color: darken($green, 5%);
            transition: color 300ms 0s ease-in-out;
            cursor: pointer;
          }
        } //a
      } //li
    } //ul
  } //.widget
} //#pageRowSideBar

#shopRowSideBar {
   ul.product_list_widget {

   }

} //#shopRowSideBar
