// Styling sidebar with laterst product
ul.cart_list,
ul.product_list_widget {
   li {
     a {
       span {
         color: darken($green, 5%);
         font-weight: initial;
       }
     }

     &:hover,
     &:focus {
       a span {
         color: $red;
         transition: color 300ms 0s ease-in-out;
       }
     }

     img {
       float: left !important;
       width: 25%;
       margin-right: 0.5rem;
       border: 1px solid $theme-border;
       padding: 0.1rem;

     } //  img end
     .woocommerce-Price-amount {
       display: none;
     }
   } // li end
 } // Styling side bar End


// Woo mini cart
// Open
#cart {

  .box {
    display: none;
    background-color: $cart-bg-color;
    box-shadow: 0 1px 0 #C6C6C6;
    position: absolute;
    z-index: 1099;
    right: 0;
    width: 250%;
    @include border-radii(0, 0, 8px, 8px);

    .widget h3 {
      display: none;
    }

    .widget_shopping_cart_content {
      ul.woocommerce-mini-cart {
        @extend .pt-3;
        @extend .pl-0;
        @extend .mx-0;

        li {
          @extend .row;
          @extend .mx-0;
            a {
              &.remove {
                @extend .col-1;
                color: $red;
                text-decoration: none;
                font-weight: bold;
              }
              &:not(.remove) {
                @extend .col-6;
                color: $dark;
                font-weight: bold;
                font-size: 0.9rem;
                text-decoration: none;
                @include notwrap;
              }
              img {
                display: none;
              }
            } // a end

            span.quantity {
              @extend .col;
              display: inline-block;
              span.woocommerce-Price-amount {
                  display: inline-block;
              }
            }
            &:hover {
              background-color: $yellow;
            }
        } // li
      } // ul
    } //.widget_shopping_cart_content

    p.total {
      @extend .text-center;
      @extend .mb-0;
      strong,
      span {

      }
    }
    p {
      padding: 0rem 1rem 1rem 1rem;
      a {
        width: 100%;
        margin-bottom: 0.5rem;
        @extend .btn;
        @extend .btn-success;
        &:last-child {
          @extend .btn-warning;
        }
      }
    }
  } //.box
} // Close #cart
