.woocommerce-page {
// Single page
// This lines of code describe single page styles
// Single page related product row
section.related {
  ul.products li.product {
    @extend .col-md-3;
  }
}
// Single Tabs
div.product .woocommerce-tabs {
  ul {
    margin-bottom: 0;
    li {


      a {
        color: $dark;
        border-color: $theme-border;
        &.active {
          background-color: $theme-bg-color;
          border-bottom-color: $theme-bg-color;
        }
      }
    }
  }
  .panel {
    background-color: $theme-bg-color;
    border: 1px solid $theme-border;
    border-top: none;
    @extend .px-3;
    @extend .py-5;
    @extend .border-top-0;

  }
}// End single



} // Close woocommerce-page
